<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ErpDataBase" connectionString="data source=101.201.223.9,1444;initial catalog=Donvv;persist security info=True;user id=donvv;password=Donvv20200310mj@(*;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>